body {
    background-color:rgb(148, 212, 231);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 50px;
}

.center-content {
    text-align: center;
    margin-top: 20%;
}

/* Styling for the header */
.header {
    font-size: 125px;
    font-family: 'Lora', serif;   
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0 auto;
    
}

/*Styling for P tag*/
.p {
    font-size: 50px;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
/* image style */
.container {
  display: inline-block;
}

.lil {
  height: 110%;
  width: 18%;
  margin-top: 3%;
  box-shadow: 3px 3px 3px white;
}

.mon {
  height: 110%;
  width: 23%;
  margin-top: 3%;
  box-shadow: 3px 3px 3px white;
  margin-left: 3%;
}

.joce {
  height: 110%;
  width: 30%;
  margin-top: 3%;
  box-shadow: 3px 3px 3px white;
  margin-left: 3%;
}